footer.footer
    .container
        .row
            .col-md-4
                | ШРИ 2016 - Задание №1  
            .col-md-4.col-md-offset-4
                ="Выполнила: "
                a(href="mailto: natandreychenko@gmail.ru") Андрейченко Наталья
            
                
                

