header.header
    .container
        .row
            .col-md-3
                a.header-logo(href="index.html")
                    
            .col-md-6.txt-center
                h1 Телепрограмма
                                





